.row {
    width:300px;
    height:200px;
    box-shadow: 3px 3px 3px rgb(202, 195, 195);
    margin-left:70px;
    background-color: white;

}
.hori {
    display:flex;
    flex-direction: row;
}
p {
    padding:10px;
    line-height: 2.5;
    font-weight:bold;
}
h3 {
    font-weight:normal;
    text-indent: 50px;
    line-height: 1.5;
    margin-left:20px;
}
 